// forbidden.pug

include ./layout.pug
section.forbidden
    h1 Access Forbidden
        p
          | Oops! You don't have permission to access this page. <br>
          | The application is only available during working hours (Monday to Friday,  from 9 to 17).


include ./footer.pug
