// home.pug

include ./layout.pug

section.home
    h1 Welcome to our Computer Services Agency
    p Providing top-notch computer solutions for your needs.
    // Add more content as needed

include ./footer.pug