// layout.pug

doctype html
html
  head
    title Computer Services Agency
    link(rel='stylesheet', href='../assets/css/styles.css')
  body
    header
      nav
        ul
          li
            a(href='/home') Home |
          li
            a(href='/services') Our Services |
          li
            a(href='/contact') Contact Us



