// services.pug

include ./layout.pug

section.services
    h1 Our Services
    ul
      li
        h2 Hardware Repair
        p Quality repair services for your computer hardware.
      li
        h2 Software Development
        p Custom software solutions tailored to your requirements.
      li
        h2 Network Setup
        p Efficient and secure network setup for your business.


include ./footer.pug
